<div class="wizard-container">
  <div class="wizard">
    <div class="wizard-background"></div>
    <div class="content-section">
      <center>
        <h2><%= @campaign.campaign_option.name %></h2>
        <h3>Location: <%= @campaign.campaign_option.location %></h3>
        <p>Campaign Session <%= @campaign_session.id %></p>
      </center>
    </div>
    <%= render "shared/wizard" %>
    <div class="chatbox">
      <div id="chatBox" data-campaign-description="<%= @campaign.campaign_option.description %>">
        <div id="chatDisplay"></div>
        <div id="chat-response">
          <input type="text" id="messageInput" placeholder="Speak to Dungeon Genie">
          <button id="glassButton">Speak</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  const btn = document.querySelector('#glassButton');

  btn.addEventListener('click', () => {
    const inputBox = document.querySelector('#messageInput');
    const chatBox = document.querySelector('#chatBox');
    const campaignDescription = chatBox.getAttribute('data-campaign-description');
    const responseArea = document.querySelector('#chatDisplay');
    const requestData = {
      message: inputBox.value,
      campaign_description: campaignDescription
      };
    console.log(requestData);

    const csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content");

    fetch('/campaign_sessions/send_message', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': csrfToken,
      },
      body: JSON.stringify(requestData),
    })
    .then(response => {
      console.log('Raw response:', response);
      return response.json(); // Change from response.text() to response.json()
    })
    .then(data => {
      let message = data.response;

      // Replace \n\n with <br><br> for HTML line breaks
      message = message.replace(/\n\n/g, '<br><br>');

      // Remove 'Title: Shadows of the Forgotten Kingdom' section.
      message = message.replace(/Title: [^\n]+<br><br>/, '');

      console.log(message);
      responseArea.insertAdjacentHTML("afterbegin", `<p>${message}</p>`);
    })
    .catch(error => {
      console.error('Fetch error:', error);
    });
  });
</script>
