<div class="wizard-container">

  <div class="vertical-sidebar">
    <div class="sidebar-item">
      <%= image_tag @campaign.campaign_option.image_url, class: "campaign-option-image" %>
      <div class="hover-info">
      <strong>Campaign: <%= @campaign.campaign_option.name %></strong><br>
      <p><%= @campaign.campaign_option.description %></p>
      </div>
    </div>
    <div class="sidebar-item">
      <%= image_tag @campaign.character.image_path, class: "profile-pic-sidebar" %>
      <div class="char-hover-info">
      <strong>Character Details:</strong><br>
      <strong>Name:</strong> <%= @campaign.character.name %><br>
      <strong>Level:</strong> <%= @campaign.character.level %><br>
      <strong>Race:</strong> <%= @campaign.character.race.name %><br>
      <strong>Class:</strong> <%= @campaign.character.character_class.name %><br>
      <strong>Languages:</strong> <%= @campaign.character.languages.join(', ') %>
      </div>
    </div>
    <div class="sidebar-item">
      <%= image_tag 'equipment-bag.png', class: 'equipment-icon' %>
      <div class="char-hover-info">
        <strong>Equipment:</strong><br>
        <ul>
          <% @campaign.character.equipment.each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="wizard">
    <div class="wizard-background">
    </div>
    <center>
      <h2><%= @campaign.campaign_option.name %></h2>
      <h3>Campaign Session <%= @campaign_session.id %></h3>
    </center>
  </div>
    <%= render "shared/wizard"%>
    <div id="chatbox" class="chatContainer"
        data-controller="campaign-session-subscription"
        data-campaign-session-subscription-campaign-session-id-value="<%= @campaign_session.id %>"
        data-campaign-description="<%= @campaign.campaign_option.description %>
        data-character-name="<%= @campaign.character.name %>"
        data-character-level="<%= @campaign.character.level %>"
        data-character-race-id="<%= @campaign.character.race_id %>"
        data-character-class-id="<%= @campaign.character.character_class_id %>"
        data-character-max-hp="<%= @campaign.character.max_hp %>"
        data-character-current-hp="<%= @campaign.character.current_hp %>"
        data-character-armor-class="<%= @campaign.character.armor_class %>"
        data-character-equipment="<%= @campaign.character.equipment %>"
        data-character-gender="<%= @campaign.character.gender %>"
        data-character-languages="<%= @campaign.character.languages %>
        ">

      <div class="chatDisplay">
        <div id="messages" data-campaign-session-subscription-target="messages">
          <% @campaign_session.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
      </div>

      <%= simple_form_for [@campaign_session, @message],
                          html: {
                                data: { action: "turbo:submit-end->campaign-session-subscription#resetForm" },
                                class: "messageForm"
                          } do |f| %>

        <div class="input-wrapper">
          <%= f.input :content,
                      label: false,
                      placeholder: "What's your next move, adventurer?",
                      input_html: { class: "messageInput" } %>
          <button type="submit" class="glass-button-send">Speak</button>
        </div>

      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:submit-end", function() {
    const messageInput = document.querySelector(".messageInput");
    messageInput.value = "";
    scrollToBottom();
  });
  
  // Function to scroll to the bottom
  function scrollToBottom() {
    var chatbox = document.getElementById("messages");
    chatbox.scrollTop = chatbox.scrollHeight;
  }
  // Call the function when the page loads
  window.onload = scrollToBottom;
  // auto-scroll
  scrollToBottom();
</script>