<div class="navbar navbar-expand-sm custom-navbar">
  <!-- Brand/Logo -->
  <ul class="navbar-nav align-items-center">
    <li class="nav-item">
      <%= link_to image_tag('DG_D20.png', alt: 'Logo', class: 'navbar-logo', width: '40', height: '40'), root_path, class: 'nav-link' %>
    </li>
    <% if user_signed_in? %>
        <li class="nav-item">
          <span class="navbar-text">Welcome, <%= current_user.email.split(/@/)[0].capitalize %>!</span>
        </li>
    <% end %>
  </ul>

  <!-- User links -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ms-auto align-items-center">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Characters", my_characters_path, method: :get, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Campaigns", my_campaigns_path, method: :get, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-link nav-link", form: { class: 'd-inline' } %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= button_to 'Sign In', new_user_session_path, method: :get, class: "btn btn-link nav-link", form: { class: 'd-inline' } %>
        </li> 
      <% end %>
    </ul>
  </div>
</div>
