<% if @characters.any? %>
  <% @characters.each do |character| %>
    <h3><%= character.name %></h3>
    <ul class="no-bullets">
      <li>Level: <%= character.level %></li>
      <li>Race: <%= character.race.name %></li>
      <li>Class: <%= character.character_class.name %></li>
      <li>HP: <%= character.current_hp %>/<%= character.max_hp %></li>
      <li>Armor Class: <%= character.armor_class %></li>
      <li>Equipment: <%= character.equipment.join(', ') if character.equipment %></li>
      <li>Gender: <%= character.gender.capitalize %></li>
      <li>Weapons: <%= character.weapons.join(', ') if character.weapons %></li>
      <li>Languages: <%= character.languages.join(', ') if character.languages %></li>
    </ul>
    <hr>
  <% end %>
<% else %>
  <p>You currently have no characters.</p>
<% end %>
