<div class="main-content">
  <div class="new-character-container">
    <div class="new-character-form-content">
      <%= form_with(model: @character, local: true, html: { class: "new-character-form" }) do |f| %>

        <% if @character.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>
            <ul>
            <% @character.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="form-field">
          <%= f.label :race %>
          <%= f.select :race_id, Race.all.collect { |r| [r.name, r.id] } %>
        </div>

        <div id='race-details'></div>

        <div class="form-field">
          <%= f.label :character_class %>
            <%= button_tag "Open Modal", type: 'button', id: 'open-modal-button' %>
          <%= f.select :character_class_id, CharacterClass.all.collect { |c| [c.name, c.id] } %>
        </div>

        <div id='class-details'></div>

        <div class="form-field">
          <%= f.label :gender %>
          <%= f.select :gender, ['Female', 'Male', 'Non-Binary', 'Other'] %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <p>ADD CLASS TABS HERE</p>
    <button id="close-modal-button" class="close-button">Close</button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@simondmc/popup-js@1.4.2/popup.min.js"></script>

<script>
  $(document).on('turbolinks:load', function() {
  $('#race_select').on('change', function() {
    var selectedRaceId = $(this).val();
    if (selectedRaceId) {
      $.ajax({
        url: "/races/" + selectedRaceId,
        method: "GET",
        dataType: "json",
        success: function(data) {
          var raceDetails = `
            <h3>${data.name}</h3>
            <p><strong>Description:</strong> ${data.description}</p>
            <p><strong>Ability Bonuses:</strong> ${data.ability_bonuses}</p>
            <p><strong>Traits:</strong> ${data.traits}</p>
            <p><strong>Languages:</strong> ${data.languages}</p>
          `;
          $('#race-details').html(raceDetails);
        }
      });
    }
  });
});
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const openModalButton = document.getElementById("open-modal-button");
    const closeModalButton = document.getElementById("close-modal-button");
    const modal = document.getElementById("modal");
    openModalButton.addEventListener("click", function () {
      console.log("test");
      modal.style.display = "block";
    });
    closeModalButton.addEventListener("click", function (event) {
      if (event.target === closeModalButton) {
        modal.style.display = "none";
      }
    });
  });
</script>
