<div class="campaign-card-container">
  <% if @campaign_options.any? %>
    <% @campaign_options.each do |campaign| %>
      <div class="campaign-card">
        <div class="face face1">
          <div class="campaign-figure">
            <div class="img-container">
              <%= image_tag campaign.image_url %>
            </div>
          </div>
          <div class="campaign-figcaption"><%= campaign.name %></div>
        </div>

        <div class="face face2">
          <div class="campaign-content">
            <%= campaign.description %>
          </div>
          <!-- Start of form -->
          <strong>Choose your character:</strong>
          <center><%= form_with url: new_campaign_path, method: :post, class: "select-campaign-form" do %>
            <%= hidden_field_tag :campaign_id, campaign.id %>
            <% if @characters && @characters.any? %>
              <%= select_tag :character_id, options_from_collection_for_select(@characters, "id", "name") %>
            <% else %>
              <p>You currently have no characters.</p>
            <% end %></center>
            <br>
            <%= submit_tag 'Select Campaign', class: "glass-button-select" %>
          <% end %>
          <!-- End of form -->
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You currently have no campaigns.</p>
  <% end %>
</div>
