<div class="campaign-show">
  <h2><%= @campaign.campaign_option.name %></h2>

  <div class="show-image-container">
    <div class="img-show">
      <%= image_tag @campaign.campaign_option.image_url %>
    </div>

    <div class="profile-pic-container">
      <%= image_tag @campaign.character.image_path, class: "show-profile-pic" %>
    </div>
  </div>
    
    <h3><%= @campaign.character.name %>, are you ready?...</h3>
    
    <% if @existing_session.nil? %>
      <%= button_to 'Begin Campaign', campaign_sessions_path(@campaign), class: "glass-button" %>
    <% else %>
      <%= button_to 'Continue Campaign', campaign_session_path(@campaign, @existing_session), class: "glass-button", method: :get %>
    <% end %>
  </div>
</div>
